body {
    padding-top: 50px;
    margin: 0;
}

.em-text {
    color: #1caa98 !important;
}

.jumbotron {
    background: url('../img/site_showcase_bg.jpg') no-repeat top center;
    height: 590px;
    color: #fff;
    overflow: hidden;
}

.jumbotron h1 {
    margin-top: 60px;
}

.jumbotron p {
    margin-bottom: 20px;
    margin-top: 20px;
}

.jumbotron .icon-img {
    margin-right: 30px;
    margin-top: 10px;
    width:40%;
}

.jumbotron .showcase-img {
    width: 70%;
    height: 70%;
    margin-left: 40px;
    margin-bottom: 0px;
}

section  {
    padding: 50px 0 50px 0;
}

img.demo {
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
}


section#features {
    width:100%;
    background-color: #1caa98 !important;
    color:#fff;
    padding: 40px;
    overflow: hidden;
}

section#features ul li {
    font-size: 22px;
    list-style: none;
    line-height: 2.0em;


}